* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.feature-image {
  height: 32rem;
  width: 100%;
  background-size: cover;
  /* background-image: url(background.jpg); */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(142, 68, 173, 1) 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
  -webkit-box-shadow: 0 40px 50px var(--shadow-color);
  -moz-box-shadow: 0 40px 50px var(--shadow-color);
  box-shadow: 0 40px 50px var(--shadow-color);
  border-bottom: 5px solid #fbe631;
}
.article-section {
  width: 90%;
  z-index: 3;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #fff;
  /* position: relative;
  transform: translateY(-350px); */
  margin-top: -350px;
  padding: 5%;
  border-radius: 30px 30px 0% 0%;
}
.article-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.article-meta .date,
.article-meta .social {
  margin-bottom: 20px;
}
.article-meta .date {
  margin-left: 10px;
}
.article-meta .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #fbe631;
  padding-bottom: 20px;
}
.article-meta .social img {
  margin: auto 10px;
}
.article {
  display: flex;
  flex-direction: row;
}
.article-content {
  width: 90%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.article-img {
  width: 100%;
}
.article-img img {
  width: 100%;
}
.article-title {
  margin: 30px auto;
  font-size: 1.8rem;
  font-weight: 700;
}
.article-para {
  width: 100%;
  padding: 10px;
}
.article-para p {
  padding: 10px;
  padding-left: 0px;
  line-height: 20px;
}
.article-para ul {
  padding: 20px 15px;
}
.article-para ul ol {
  padding: 5px 0;
}
.news-btn {
  margin: auto;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 18px;
}
.news-btn:hover,
.news-btn:focus {
  transform: scale(1.1);
}
.recent-news {
  width: 30%;
  background: #f2f2f2;
  padding: 30px 50px;
}
.recent-news .recent-title {
  font-size: 1.8rem;
}
.recent-news .recent-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.recent-cards .recent-card {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mg-2 {
  margin: 8px;
}
.recent-card .title {
  font-size: 1.2rem;
  font-weight: 600;
}
.recent-card .sample {
  font-size: 1rem;
  width: 100%;
}
.read-more {
  margin: 0;
}
/* ipad pro */
@media screen and (max-width: 1024px) {
  .article-section {
    padding: 3%;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .article-content {
    width: 60%;
  }
  .recent-news {
    width: 40%;
  }
  .article-title {
    text-align: center;
  }
}
/* ipad */
@media screen and (max-width: 768px) {
  .article {
    flex-direction: column;
    align-items: center;
  }
  .article-content {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 5%;
  }
  .recent-news {
    width: 100%;
    padding: 30px auto;
  }
  .recent-news .recent-cards {
    justify-content: space-around;
    align-items: center;
  }
}
/* mobile */
@media screen and (max-width: 500px) {
  .article-section {
    margin: auto;
    margin-top: -400px;
    width: 100%;
    padding: 20px 15px;
  }
  .article-title {
    margin: 10px auto;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .article {
    flex-direction: column;
    align-items: center;
  }
  .article-content {
    width: 100%;
    padding: auto 5px;
    margin: auto 10px 30px 10px;
  }
  .recent-news {
    width: 100%;
    padding: 30px 10px;
  }
  .recent-title {
    text-align: center;
  }
  .recent-news .recent-cards {
    justify-content: space-around;
    align-items: center;
  }
}
