* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}
.header {
  height: 100px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
}
.logo {
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu {
  float: right;
  line-height: 100px;
}
.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  float: right;
}
.show-menu-btn i {
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #3498db;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content {
  padding: 0 20px;

  min-height: 85vh;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
}
.content img {
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p {
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu {
    right: 0;
  }
}

.login-form {
  width: 360px;
  background: #f1f1f1;
  height: 400px;
  padding: 30px 15px;
  border-radius: 10px;
  position: absolute;
  left: 30%;
  /* /* top: 90%; */
  transform: translate(-50%, 0%);
}
.login-form-left {
  width: 360px;
  background: #f1f1f1;
  height: 400px;
  padding: 30px 15px;
  border-radius: 10px;
  position: absolute;
  left: 70%;
  /* /* top: 90%; */
  transform: translate(-50%, 0%);
}
.login-form-left h1 {
  text-align: center;
  margin-bottom: 60px;
}
.login-form h1 {
  text-align: center;
  margin-bottom: 60px;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}
.txtb input,
select {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 20px;
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.txtb span::after {
  content: "";
  position: relative;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  transition: 0.5s;
}
.focus + span::before {
  top: -5px;
}
.focus + span::after {
  width: 100%;
}

.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.logbtn:hover {
  background-position: right;
}

.bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}

img {
  max-width: 100%;
}
#team {
  padding: 25px 0;
}

#fun-fact,
#team {
  /* background: #f6f7fe; */
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
}
#team .team-section-text {
  padding-top: 10px;
  padding-left: 20px;
}

.section-count,
.section-title {
  font-family: "Josefin Sans", sans-serif;
}
.section-count {
  height: 120px;
  overflow: hidden;
  font-weight: 100;
}
.section-count > span {
  color: #3e4046;
  display: block;
  font-size: 220px;
  line-height: 0.7em;
}
.section-title {
  color: #3e6edf;
  font-size: 48px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.section-text > p {
  margin-bottom: 15px;
}

#team {
  padding: 150px 0;
}

#team .team-section-text {
  padding-top: 30px;
}

#team .team-single {
  border: 8px solid #e6e9f4;
  margin: 0 auto;
  padding: 15px;
  width: 320px;
  display: none;
}

#team .team-single.active {
  display: block;
}

#team .team-list > ul {
  list-style: none;
  margin: 0 0 0 120px;
  padding: 0 0 0 50px;
}

#team .team-list > ul > li {
  position: relative;
  margin: 15px 0;
}

#team .team-list > ul > li:first-child {
  margin-top: 40px;
}

#team .team-list > ul > li:last-child {
  margin-bottom: 0;
}

#team .team-list > ul > li.active > a > figure:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(131, 158, 226, 0.7);
}

#team .team-list > ul > li.active::after {
  color: #3e6edf;
  content: "ï¡";
  font-family: fontawesome;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 50%;
}

#team .team-list > ul > li > a > figure {
  border-radius: 50%;
  height: 120px;
  overflow: hidden;
  width: 120px;
  position: relative;
}

#team .team-info > h4 {
  color: yellow;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 20px;
  text-align: center;
}

#team .team-img {
  position: relative;
}

#team .team-img > img {
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#team .team-social > ul {
  bottom: 0;
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
  position: absolute;
  right: 30px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#team .team-social > ul > li > a {
  border-radius: 50%;
  color: yellow;
  display: block;
  font-size: 18px;
  height: 40px;
  margin: 15px 5px;
  padding: 8px;
  position: relative;
  text-align: center;
  width: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#team .team-social > ul > li > a:hover {
  background: #3e6edf;
  color: #fff;
}

#team .team-social > ul > li > a::after {
  border: 1px solid #dee3f4;
  border-radius: 50%;
  content: "";
  height: 50px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 50px;
}

#team .team-single:hover .team-img > img {
  margin-left: -70px;
}

#team .team-single:hover .team-social > ul {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 1200px) {
  #team {
    padding: 20px 0;
  }
}

@media screen and (max-width: 991px) {
  #team {
    padding: 20px;
  }
  #team .col-md-5.col-sm-12.pull-right {
    float: none !important;
  }
  #team .team-section-text {
    padding-bottom: 50px;
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  #team {
    padding: 20px;
  }
  #team .team-section-text {
    padding-bottom: 30px;
    padding-top: 0;
  }
  #team .team-single {
    margin: 30px auto 0;
    overflow: hidden;
    padding: 10px;
    width: 100%;
  }
  #team .team-list {
    text-align: center;
  }
  #team .team-list > ul > li {
    position: relative;
  }
  #team .team-list > ul > li > a > figure {
    height: 65px;
    position: relative;
    width: 65px;
  }
  #team .team-list > ul > li.active::after {
    margin-top: 10px;
    position: absolute;
    right: 30px !important;
    top: 100%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #team .team-list > ul > li {
    display: inline-block;
    margin: 15px 0;
  }
}
@media screen and (max-width: 1200px) {
  #team {
    padding: 20px;
  }
}
@media screen and (max-width: 991px) {
  #team {
    padding: 20px;
  }
  #team .team-section-text {
    padding-bottom: 50px;
    padding-top: 0;
  }
}
